#sidenav.side--nav
  .menu--header
    .avatar
      img(src='./images/profile.jpg', alt='avatar')
    .username
      | Akinbobola
  .menu--body
    .home--tab
      .icon--block
        //img(src='./images/side-menu/ic-home.svg', alt='home')
      .tab-text
        | Home
    .request--tab
      .icon--block
        //img(src='./images/side-menu/ic-request.svg', alt='request')
      .tab-text
        | Request Pickup
    .login--tab
      .icon--block
        //img(src='./images/side-menu/ic-login.svg', alt='login')
      .tab-text
        | Log In
    .prices--tab
      .icon--block
        //img(src='./images/side-menu/ic-prices.svg', alt='prices')
      .tab-text
        | Prices
    .contact--tab
      .contact--block
        //img(src='./images/side-menu/ic-contact.svg', alt='contact')
      .tab-text
        | Contact