extends layout

block content
  .home--container
    .banner--container
      .banner--text Bringing Garment Care Closer To You
      .container
        form(action='/order', method='GET')
          .input-group.request--button
            button.btn(type='submit') Request Service
    .banner--base